.pendindg{
    background-color: rgb(2, 247, 173);
    margin: 0 20px 0 0;
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
}

.list-item{
    margin: 20px 0;
}

.mantine-mtnpu1{
    height: 3.5vh;
}